<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" site="JWQWKTJP" defer></script>
<!-- / Fathom -->
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      <div class="warning">
      <h4>Before You Yell at Me:</h4>
          <p>This <strong>isn't</strong> an exhaustive list!</p>
      <h4>Requesting a bundle ID:</h4> 
          <p>If you have a macOS app's bundle ID you can't figure out, you can <ul>
            <li><a href="https://www.lemonproductions.ca/contact/">Contact me here</a> and ask nicely please!</li>
            <li><a href="https://github.com/iChris/mac-app-bundle-id-list/issues/new">File an issue on the GitHub repo</a> if you're able</li>
          </ul>
      <h4>Adding to the List</h4>
      If you'd like to add to the list, feel free to:
        <ul>
          <li><a href="https://github.com/iChris/mac-app-bundle-id-list/issues/new">File an issue on the GitHub repo if you're able</a></li>
          <li><a href="https://twitter.com/ichris">Send me a tweet with the details</a></li>
          <li><a href="https://www.lemonproductions.ca/contact/">Contact me here</a>.</li>
        </ul>
     <h3>Want More Help?</h3>
     Join the <a href="https://lemonaudio.club/">Lemon Audio Club</a> community with other viewers of my YouTube channel. Find out more details here at <a href="https://lemonaudio.club/">LemonAudio.club</a>
      </div>
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
